@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* ScrollBar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #00c6ff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0072ff;
  }
.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px 40px;
  align-items: center;
  color: white;
  background: #0072ff;
  box-shadow: 20px 10px 40px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(74, 126, 205, 0.5);
  backdrop-filter: blur(5px);
  z-index: 15;
  padding: 1rem 0.2rem;
}
.brand-name{
    margin-left: 10px;
}
ul.main-menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
li.nav-item{
    margin: 5px;
}
.nav-item-link{
    text-decoration: none;
    width: 100%;
    padding: 10px;
    transition: all 0.15s ease;
    border: 1px solid transparent;
    color: white;
}
.nav-item-link:hover{
    border: 1px solid black;
    border-radius: 40px;
    background-color: black;
}
#hero,#features{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    border-radius: 30px;
    margin: 20px 40px;
    padding: 10px;
    height:max-content;
}
.left-section,.right-section {
    padding: 5vw;
    width: 35vw;
    margin: auto ;
}
.left-section h1{
    font-size: xxx-large; 
    font-weight: bolder;
}
.subtitle{
    padding-block: 10px;
    font-weight: 400;
    font-size:large;
}
.right-section img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
}
.heroBtn{
    padding: 10px;
    margin: 20px 0 10px 0;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background .3s ease;
    margin-right: 5px;
}
.test{
    background-color: #F9A826;
}
.practice{
    background-color: #0198E1;
}
.test:hover{
    background-color: #f9a826d5;
}
.practice:hover{
    background-color: #0196e1c7;
}

#features{
    justify-content: space-around;
    text-align: center;
    padding-block: 20px;
}
.feature{
    width: 25vw;
}
.feature img{
    height: 96px;
    width: 96px;
}
.feature p{
    padding: 5px;
}

footer {
    padding: 20px 0px;
    font-weight: 500;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: center;
    background: rgb(2,0,36);
background: linear-gradient(279deg, rgba(2,0,36,1) 0%, rgba(5,5,85,1) 52%, rgba(0,212,255,1) 100%);
  }

/* ============ Media Queries ============ */

@media screen and (max-width:670px){
    .nav-item{
        display: inline-flex;
    }
    .navigation{
        margin: auto;
    }
    .brand-name{
        margin-bottom: 10px;
    }
    .brand{
        margin: auto;
    }
    footer{
        font-size: 12px;
    }
}

@media screen and (max-width: 768px){
    .left-section,.right-section{
        width: 60vw;
    }
    .feature{
        width: 60vw;
        margin-block-end: 10px;
    }
    .navbar{
        padding: 15px 20px;
    }
    #hero,#features{
        margin: 20px;
    }
}
