@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background-color: #E6E4E4;
}
.navbar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 40px;
    align-items: center;
}
.brand-name{
    margin-left: 10px;
}
ul.main-menu{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
li.nav-item{
    margin: 5px;
}
.nav-item-link{
    color: black;
    text-decoration: none;
    width: 100%;
    padding: 10px;
    transition: all 0.2s ease;
    border: 1px solid transparent;
}
.nav-item-link:hover{
    border: 1px solid black;
    border-radius: 40px;
    background-color: antiquewhite;
}
#hero,#features{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    border-radius: 30px;
    margin: 20px 40px;
    padding: 10px;
    height:max-content;
}
.left-section,.right-section {
    padding: 5vw;
    width: 35vw;
    margin: auto ;
}
.left-section h1{
    font-size: xxx-large; 
    font-weight: bolder;
}
.subtitle{
    padding-block: 10px;
    font-weight: 400;
    font-size:large;
}
.right-section img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
}
.heroBtn{
    padding: 10px;
    margin: 20px 0px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background .3s ease;
    margin-right: 5px;
}
.test{
    background-color: #F9A826;
}
.practice{
    background-color: #0198E1;
}
.test:hover{
    background-color: #f9a826d5;
}
.practice:hover{
    background-color: #0196e1c7;
}

#features{
    justify-content: space-around;
    text-align: center;
}
.feature{
    width: 25vw;
}
.feature img{
    height: 96px;
    width: 96px;
}
.feature p{
    padding: 5px;
}


footer p{
    font-size:large;
    margin: 10px 40px;
}

/* ============ Media Queries ============ */

@media screen and (max-width:650px){
    .nav-item{
        display: inline-flex;
    }
    .brand-name{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 768px){
    .left-section,.right-section{
        width: 60vw;
    }
    .feature{
        width: 60vw;
        margin-block-end: 10px;
    }
    .navbar{
        padding: 15px 20px;
    }
    #hero,#features{
        margin: 20px;
    }
}
