@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* ScrollBar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #00c6ff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0072ff;
  }

.navbar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 40px;
    align-items: center;
    color: white;
}
.brand-name{
    margin-left: 10px;
}
ul.main-menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
li.nav-item{
    margin: 5px;
}
.nav-item-link{
    text-decoration: none;
    width: 100%;
    padding: 10px;
    transition: all 0.15s ease;
    border: 1px solid transparent;
    color: white;
}
.nav-item-link:hover{
    border: 1px solid black;
    border-radius: 40px;
    background-color: black;
}
#hero,#features{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    border-radius: 30px;
    margin: 20px 40px;
    padding: 10px;
    height:max-content;
}
.left-section,.right-section {
    padding: 5vw;
    width: 35vw;
    margin: auto ;
}
.left-section h1{
    font-size: xxx-large; 
    font-weight: bolder;
}
.subtitle{
    padding-block: 10px;
    font-weight: 400;
    font-size:large;
}
.right-section img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
}
.heroBtn{
    padding: 10px;
    margin: 20px 0 10px 0;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background .3s ease;
    margin-right: 5px;
}
.test{
    background-color: #F9A826;
}
.practice{
    background-color: #0198E1;
}
.test:hover{
    background-color: #f9a826d5;
}
.practice:hover{
    background-color: #0196e1c7;
}

#features{
    justify-content: space-around;
    text-align: center;
    padding-block: 20px;
}
.feature{
    width: 25vw;
}
.feature img{
    height: 96px;
    width: 96px;
}
.feature p{
    padding: 5px;
}

footer {
    background-color: black;
    bottom: 0;
  }
  
  .footer-content {
    color: white;
  }
  
  .main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .about {
    max-width: 30%;
  }
  
  .quick-links > li,
  .contact-details > li {
    list-style-type: none;
    font-family: "Fira Sans", sans-serif;
    line-height: 30px;
  }
  
  .text {
    color: #b3b3b3;
  }
  
  .quick-links > li > a {
    text-decoration: none;
    color: #b3b3b3;
  }
  
  .quick-links > li > a:hover {
    color: #fd7014;
  }
  footer{
    background: linear-gradient(to bottom, #0072ff, #00c6ff);
 }
  
  .footer-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    text-decoration: none;
    text-align: center;
  }
  
  .footer-socials .icon {
    color: #fff;
    margin: 0 5px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .footer-socials .icon span a {
    display: block;
    height: 60px;
    width: 60px;
    background: #000;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .footer-socials .icon span a i {
    line-height: 60px;
    font-size: 25px;
  }
  
  .footer-socials .icon .tooltip {
    position: absolute;
    top: 0;
    z-index: 1;
    background: #fff;
    color: #fff;
    padding: 10px 18px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, #0072ff, #00c6ff);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .footer-socials .icon:hover .tooltip {
    top: -70px;
    opacity: 1;
    pointer-events: auto;
  }
  
  .icon .tooltip:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .footer-socials .icon:hover span a {
    color: #fff;
  }
  
  .footer-socials .icon:hover span,
  .footer-socials .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(255, 250, 250, 0.4);
  }
  
  .footer-socials .linkedin:hover span > a,
  .footer-socials .linkedin:hover .tooltip,
  .footer-socials .linkedin:hover .tooltip:before {
    background: #fd7014;
  }
  
  .footer-socials .instagram:hover span a,
  .footer-socials .instagram:hover .tooltip,
  .footer-socials .instagram:hover .tooltip:before {
    background: #fd7014;
  }
  
  .footer-socials .discord:hover span a,
  .footer-socials .discord:hover .tooltip,
  .footer-socials .discord:hover .tooltip:before {
    background: #fd7014;
  }
  
  .footer-socials .github:hover span a,
  .footer-socials .github:hover .tooltip,
  .footer-socials .github:hover .tooltip:before {
    background: #fd7014;
  }
  
  .footer-socials .email:hover span a,
  .footer-socials .email:hover .tooltip,
  .footer-socials .email:hover .tooltip:before {
    background: #fd7014;
  }
/* ============ Media Queries ============ */

@media screen and (max-width:670px){
    .nav-item{
        display: inline-flex;
    }
    .navigation{
        margin: auto;
    }
    .brand-name{
        margin-bottom: 10px;
    }
    .brand{
        margin: auto;
    }
    footer{
        font-size: 12px;
    }
}
 

@media screen and (max-width: 768px){
    .left-section,.right-section{
        width: 60vw;
    }
    .feature{
        width: 60vw;
        margin-block-end: 10px;
    }
    .navbar{
        padding: 15px 20px;
    }
    #hero,#features{
        margin: 20px;
    }
}
