@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px 40px;
  align-items: center;
  color: white;
  background: #0072ff;
}

.brand-name {
  margin-left: 10px;
}

ul.main-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

li.nav-item {
  margin: 5px;
}

.nav-item-link {
  text-decoration: none;
  width: 100%;
  padding: 10px;
  transition: all 0.15s ease;
  border: 1px solid transparent;
  color: white;
}

.nav-item-link:hover {
  border: 1px solid black;
  border-radius: 40px;
  background-color: black;
}

.container {
  width: 70vw;
  margin: auto;
  padding: 20px;
}

.heading {
  width: max-content;
  margin: auto;
  margin-bottom: 20px;
}

h2.subtitle {
  text-align: center;
  margin-bottom: 5px;
}

.dynamic-text-box {
  width: 100%;
  margin: 15px 0;
  background-color: rgb(210, 247, 213);
  padding: 10px;
  border-radius: 14px;
}

#quote {
  font-family: 'Inconsolata', monospace;
  font-size: larger;
  font-weight: 600;
  text-align: center;
}

.start-btn {
  width: max-content;
  margin: auto;
}

.start-btn>button {
  border-radius: 5px;
  padding: 10px;
  color: white;
  border: none;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: medium;
  cursor: pointer;
}

#startBtn {
  background-color: green;
}

#resetBtn {
  background-color: red;
}

#message, #speed{
  font-size: larger;
  font-weight: bold;
  text-align: center;
}

#speed{
  color: green;
}

.user-input-box {
  width: 80%;
  margin: 10px auto;
  padding: 14px;
  text-align: center;
  border-radius: 14px;
  background-color: antiquewhite;
}

#userInput {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  font-size: medium;
  text-align: center;
  padding: 5px;
}

.highlight {
  background-color: yellow;
}

.error {
  background-color: lightcoral;
  border: red;
}

#greetUser{
  text-align: center;
  font-weight: bold;
  color: green;
  margin: 10px;
}

.nameModal{
  background-color: antiquewhite;
  height: 40%;
  width: 50%;
  text-align: center;
  border-radius: 10px;
  margin: auto;
  padding: 15px;
  margin-bottom: 10px;
}

.nameModal input[type="text"]{
  border: 2px solid grey;
  border-radius: 15px;
  padding:10px;
  margin: 0 auto;
  width: 80%;
}

.nameModal input[type="submit"]{
  display: block;
  background-color: green;
  font-size: 15px;
  font-weight: bold;
  color:white;
  padding: 12px;
  outline: none;
  border-radius: 15px;
  border: none;
  margin: 10px auto;
  border:1px solid green;
}

.nameModal input[type="submit"]:hover{
  background-color: rgba(0, 128, 0, 0.829);
  cursor: pointer;
  border: 1px solid black;
}

.history{
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  background-color: antiquewhite;
  text-align: center;
}

.history-table{
  /* width: max-content; */
  margin: 5px auto;
  border-collapse: collapse;
  overflow-x: auto;
}
.history-table table{
  margin: 0 auto;
}

th,td{
  padding:  0 20px;
  border: 1px solid black;
}

#historyResetBtn{
  width: max-content;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #0072ff;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}

#historyResetBtn:hover{
  background-color: transparent;
  color: #0072ff;
}

footer {
  padding: 20px 0px;
  font-weight: 500;
  bottom: 0;
  width: 100%;
  font-size: 18px;
  color: white;
  display: flex;
  justify-content: center;
  background: rgb(2,0,36);
  background: linear-gradient(279deg, rgba(2,0,36,1) 0%, rgba(5,5,85,1) 52%, rgba(0,212,255,1) 100%);
}