 /* define the CSS classes for light and dark mode */
 :root {
    color-scheme: light dark; /* both supported */
  }
 .light-mode {
    background-color: white;
    color: black;
}
.dark-mode {
    background-color: #121212;
    color: white;
}
.dark-modalName{
    background-color: black;
}
.light-modalName{
    background-color: antiquewhite;
}