@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Cabin:ital,wght@1,600&family=Poppins&display=swap');


*{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
main{
  padding: 20px;
  background: #00c6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #0072ff, #00c6ff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* ScrollBar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 15px #00c6ff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0072ff;
}
.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px 40px;
  align-items: center;
  color: white;
  background: #0072ff;
  box-shadow: 20px 10px 40px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(74, 126, 205, 0.5);
  backdrop-filter: blur(5px);
  z-index: 15;
  padding: 1rem 0.2rem;
}
.brand-name{
  margin-left: 10px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 25px;
}
ul.main-menu{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
li.nav-item{
  margin: 5px;
}
.nav-item-link{
  text-decoration: none;
  width: 100%;
  padding: 10px;
  transition: all 0.15s ease;
  border: 1px solid transparent;
  color: white;
}
.nav-item-link:hover {
  border: 1px solid black;
  border-radius: 40px;
  background-color: black;
}
.mobile-nav{
  display: none;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: 0.4s;
}
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
#hero,#features{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
  border-radius: 30px;
  margin: 0 30px 20px 30px;
  padding: 10px;
  height: max-content;
}
.left-section,.right-section {
  padding: 5vw;
  width: 35vw;
  margin: auto;
}
.left-section h1{
  font-size: xxx-large;
  font-weight: bolder;
}
.subtitle{
  padding-block: 10px;
  font-weight: 400;
  font-size: large;
}
.right-section img{
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
}
.heroBtn{
  padding: 10px;
  margin: 20px 0 10px 0;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  transition: background 0.3s ease;
  margin-right: 5px;
}
.test{
  background-color: #f9a826;
}
.practice{
  background-color: #0198e1;
}
.test:hover{
  background-color: #f9a826d5;
}
.practice:hover{
  background-color: #0196e1c7;
}

#features{
  justify-content: space-around;
  text-align: center;
  padding-block: 20px;
}
.feature{
  width: 25vw;
}
.feature img{
  height: 96px;
  width: 96px;
}
.feature p{
  padding: 5px;
}
body{
  font-family: 'Poppins', sans-serif;
}







.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 30px;
}



.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 0px;
}

.col-3 img{
  width: 100%;
}

.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  font-family: 'Poppins', sans-serif;

}

.col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col-4 img{
  width: 100%;
}

.title{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
  font-family: 'Poppins', sans-serif;

}

.testimonial{
  padding-top: 100px;
  padding-bottom: 40px;
}
.testimonial h1{
  text-align: center;
  margin-bottom: 70px;
  
}
.testimonial .col-3{


  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
}

.testimonial .col-3 img{
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}

.testimonial .col-3:hover{
  transform: translateY(-10px);
}

.fa.fa-quote-left{
  font-size: 34px;
  color: #ff523b;
}

.col-3 p{
  font-size: 12px;
  margin: 12PX 0;
  color: #777;
}

.testimonial .col-3 h3{
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

footer{
  padding: 20px 0px;
  font-weight: 500;
  bottom: 0;
  width: 100%;
  font-size: 18px;
  color: white;
  display: flex;
  justify-content: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(279deg, rgba(2, 0, 36, 1) 0%, rgba(5, 5, 85, 1) 52%, rgba(0, 212, 255, 1) 100%);
}

/* ============ Media Queries ============ */

@media screen and (max-width: 524px) {
  .navigation{
    display: none;
    position: absolute;
    background-color: #0072ff;
    top: 62px;
    left: 0;
    width: 100%;
  }
  ul.main-menu{
    flex-direction: column;
  }
  .brand{
    flex-grow: 1;
  }
  .mobile-nav{
    display: block;
    font-size: 25px;
  }
}

@media screen and (min-width: 525px) {
  .navigation {
    display: block;
  }
}

@media screen and (max-width: 670px) {
  .nav-item{
    display: inline-flex;
  }
  .navigation{
    margin: auto;
  }
  .brand-name{
    margin-bottom: 10px;
  }
  footer{
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .left-section,.right-section{
    width: 60vw;
  }
  .feature{
    width: 60vw;
    margin-block-end: 10px;
  }
  .navbar{
    padding: 15px 20px;
  }
  #hero,#features{
    margin: 0 20px 10px 20px;
  }
}
