/* ============ Testimonial Page ============ */

body{
    font-family: 'Poppins', sans-serif;
  }

/* ============ Testimonial Container ============ */

.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  /* font-family: 'Poppins', sans-serif; */

}

.title{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
  /* font-family: 'Poppins', sans-serif; */

}

/* ============ Testimonial Row ============ */

.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 30px;
}

/* ============ Testimonial Card ============ */

.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 0px;
}

.col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.testimonial{
  padding-top: 100px;
  padding-bottom: 40px;
}

.testimonial .col-3:hover{
  transform: translateY(-10px);
}

/* ============ Testimonial Card Profile Picture ============ */

.col-3 img,
.col-4 img{
  width: 100%;
}

/* {
  width: 100%;
} */

.testimonial .col-3 img{
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}

/* ============ Testimonial Text ============ */

.fa.fa-quote-left{
  font-size: 34px;
  color: #ff523b;
}

.col-3 p{
  font-size: 12px;
  margin: 12PX 0;
  color: #777;
}

.testimonial h1{
  text-align: center;
  margin-bottom: 70px;
}

.testimonial .col-3{
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
}

.testimonial .col-3 h3{
  font-weight: 600;
  color: #555;
  font-size: 16px;
}